Slack TTT Commands
/ttt [action](in/out) [project](text) [time](hh:mm) -> project & time are optional
/ttt project(text) -> will set default project
/ttt report [yyyy-mm,mm]-> will send month report to user slack chanel
/ttt validate -> will vaildate current month and send missing or uncompleted reports
